####################################
# Spring Boot / Maven
####################################
target/
.mvn/wrapper/maven-wrapper.jar

####################################
# Environment Variables
####################################
src/main/resources/.env
.env.*
application-local.properties

####################################
# Logs
####################################
*.log
logs/

####################################
# IntelliJ IDEA
####################################
.idea/
*.iml
*.iws
*.ipr

####################################
# VS Code
####################################
.vscode/

####################################
# Eclipse / STS
####################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

####################################
# NetBeans
####################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

####################################
# OS Files
####################################
.DS_Store
Thumbs.db
